<template>
<div class="wrapper"
@click="jobCardClicked">
  <div class="company-logo">
    <img :src="job.companyLogoURL"/>
  </div>
  <div class="fields">
    <label class="bold">{{ job.companyName }}</label>
    <label>{{ job.title }}</label>
    <label>📌 {{ job.location }}</label>
  </div>
</div>
</template>

<script>
export default {
  name: 'JobCard',
  props: {
    job: {
      type: Object,
      required: true,
    },
  },
  methods: {
    jobCardClicked() {
      this.$router.push({ name: 'JobDetail', params: { id: this.job.id } });
    },
  },
};
</script>

<style scoped>
/* <Wrapper> */
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom: 30px;
  padding: 10px 15px;

  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);

  text-align: left;

  transition: all .24s cubic-bezier(0,.5,.51,1);
}

.wrapper:hover {
  cursor: pointer;

  box-shadow: 0 14px 25px rgba(0,0,0,0.11);
  transform: scale(1.04);
}

.wrapper *:hover {
  cursor: pointer;
}
/* </Wrapper> */

/* <Company Logo> */
.company-logo {
  display: flex;
  align-items: center;

}

.company-logo img {
  padding-right: 10px;
  margin-right: 10px;

  height: 60px;
  width: 60px;

  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
/* </Company Logo> */

.fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fields .bold {
  font-weight: 900;
}

.fields label:not(.bold) {
  font-weight: 400;
  color: #0000b3;
}

@media screen and (max-width: 425px) {
  .wrapper {
    flex-direction: column;
  }

  .company-logo {
    flex-direction: row;
    justify-content: center;
  }

  .company-logo img {
    margin: 0 0 10px 0;
    padding: 0;

    border: none;
  }

  .fields {
    font-size: 0.9em;
  }
}
</style>
