<template>
<div class="wrapper">
  <div class="title-container"
  @click="titleClicked">
    <h1>Crypto Jobs 🔒</h1>
    <!-- <h3>Největší databáze blockchain prací v 🇨🇿 ČR a na 🇸🇰 Slovensku</h3> -->
  </div>

  <div class="job-detail"
  v-if="job">
    <div class="header">
      <div class="wrapper">
        <div class="company-logo">
          <img :src="job.companyLogoURL"/>
        </div>
        <div class="title">
          <h1>{{ job.title }}</h1>
          <h2>{{ job.companyName }}</h2>
        </div>
      </div>
      <p>⏰ {{ job.type }}</p>
      <p>📌 {{ job.location }}</p>
      <p v-if="job.salary">💰 {{ job.salary }}</p>
      <a class="icon-link company-website"
      target="_blank"
      :href="job.companyWebsite">
        <!-- <font-awesome-icon
        :icon="linkIcon"/> -->
        {{ job.companyWebsite }}
      </a>
      <a class="icon-link"
      v-if="job.companyFacebook"
      target="_blank"
      :href="job.companyFacebook">
        <font-awesome-icon
        :icon="facebookIcon"/>
      </a>
      <a class="icon-link"
      v-if="job.companyTwitter"
      target="_blank"
      :href="job.companyTwitter">
        <font-awesome-icon
        :icon="twitterIcon"/>
      </a>
    </div>
    <hr/>
    <p class="job-description">{{ job.description }}</p>
    <br/>
    <a class="apply-to-job-button"
    :href="mailHref">
      Mám Zájem o Práci
    </a>
  </div>

  <div v-else>
    <font-awesome-icon
    class="spinner"
    :icon="spinnerIcon"
    spin/>
  </div>
</div>
</template>

<script>
import JobService from '@/mixins/JobService';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import { faCircleNotch, faLink } from '@fortawesome/fontawesome-free-solid';
import { faFacebook, faTwitter } from '@fortawesome/fontawesome-free-brands';

export default {
  name: 'JobDetail',
  mixins: [JobService],
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      job: null,
    };
  },
  computed: {
    linkIcon() {
      return faLink;
    },
    spinnerIcon() {
      return faCircleNotch;
    },
    facebookIcon() {
      return faFacebook;
    },
    twitterIcon() {
      return faTwitter;
    },
    mailHref() {
      return `mailto:${this.job.contactEmail}?subject=Pracovní Nabídka: ${this.job.title}`;
    },
  },
  beforeRouteUpdate(to, from, next) {
    // beforeRouteUpdate is called only when same route is updated
    // eg. /foo/1 to /foo/2
    // So we must fetch new data every time, there's nothing to cache
    const jobId = to.params.id;
    this.fetchJobData(jobId);
    next();
  },
  created() {
    const jobId = this.$router.currentRoute.params.id;
    this.fetchJobData(jobId);
  },
  methods: {
    async fetchJobData(jobId) {
      try {
        this.job = await this.getJob(jobId);
      } catch (e) {
        /* Continue */
      }
    },
    titleClicked() {
      this.$router.push({ name: 'AppHome' });
    },
  },
};
</script>

<style scoped>
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: auto;
}

/* <Title Container> */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  cursor: pointer;

  margin: 70px 0 70px;
}

.title-container h1, h3 {
  text-align: left;
}

.title-container h1 {
  margin: 0;
  font-weight: 900;
}

.title-container h3 {
  margin-top: 0;
}
/* </Title Container> */

/* <Job Detail> */
.job-detail .header {
  text-align: left;
}

.job-detail .header .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.job-detail .header .wrapper .company-logo {
  margin-right: 10px;
}

.job-detail .header .wrapper .company-logo img {
  height: 60px;
  width: 60px;
}

.job-detail .header h1 {
  margin: 0 0 2px 0;
}

.job-detail .header h2 {
  margin: 0 0 15px 0;
}

.job-detail .header > p {
  margin: 0;
}

.job-detail .header > p:last-of-type {
  margin-bottom: 15px;
}

.job-detail .header > .icon-link {
  margin-right: 10px;

  cursor: pointer;

  color: rgb(175, 175, 175);
  font-size: 1.5em;
}

.job-detail .header > .icon-link.company-website {
  font-weight: 600;
  font-size: 1.1em;
  color: #a55eea;
  text-decoration: none;
}

.job-detail .header > .icon-link:hover {
  color: #a55eea;
}

.job-detail .job-description {
  text-align: left;
  white-space: pre-line; /* Multiline text */
}

.job-detail .apply-to-job-button {
  padding: 5px 12px;

  border: transparent;
  border-radius: 4px;

  cursor: pointer;

  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;

  background-color: #a55eea;

  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.04);
  transition: all .24s cubic-bezier(0, 0.5, 0.51, 1);
}

.job-detail .apply-to-job-button:focus {
  outline: none;
}

.job-detail .apply-to-job-button:visited {
  color: #fff;
}

.job-detail .apply-to-job-button:hover {
  box-shadow: 0 14px 25px rgba(0,0,0,0.08);
  transform: scale(1.04);
}
/* </Job Detail> */

.spinner {
  color: #a55eea;
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  .job-detail .header h1 {
    font-size: 1em;
  }

  .job-detail .header h2 {
    font-size: 1em;
  }
}
</style>
