<template>
<div class="wrapper">
  <div class="title-container"
  @click="titleClicked">
    <h1>Crypto Jobs 🔒</h1>
    <h3>Největší databáze blockchain prací v 🇨🇿 ČR a na 🇸🇰 Slovensku</h3>
  </div>

  <div class="job-form">
    <h2>Přidat pracovní nabídku 💼</h2>

    <div class="basic-info">
      <h3>Název pozice</h3>
      <input
      type="text"
      placeholder="Blockchain kouzelník"
      maxlength="38"
      v-model="jobTitle">

      <br/>

      <div class="fields">
        <div class="field salary">
          <h3 class="not-mandatory">Platové ohodnocení</h3>
          <input
          type="text"
          placeholder="30k - 60k Kč"
          maxlength="30"
          v-model="salary">
        </div>

        <div class="field location">
          <h3>Lokalita</h3>
          <input
          type="text"
          placeholder="Praha / Celá ČR/..."
          maxlength="30"
          v-model="location">
        </div>
      </div>

      <br/>

      <h3>Typ úvazku</h3>
      <input
      type="text"
      placeholder="Full-time/Part-time/..."
      maxlength="30"
      v-model="type">

      <br/>

      <h3>Popis pozice</h3>
      <textarea placeholder="O Vaší společnosti a inzerované pracovní nabídce" rows="10"
      v-model="description"></textarea>
    </div>

    <h2>O společnosti 🏢</h2>
    <div class="company-info">
      <h3>Název společnosti</h3>
      <input
      type="text"
      placeholder="CryptoMiners s.r.o"
      maxlength="30"
      v-model="companyName">

      <br/>

      <h3>Web</h3>
      <input
      type="text"
      placeholder="https://cryptominers.com"
      v-model="companyWebsite">

      <div class="fields">
        <div class="field facebook">
          <h3 class="not-mandatory">Facebook</h3>
          <input
          type="text"
          placeholder="https://facebook.com/cryptominers"
          v-model="companyFacebook">
        </div>

        <div class="field twitter">
          <h3 class="not-mandatory">Twitter</h3>
          <input
          type="text"
          placeholder="https://twitter.com/cryptominers"
          v-model="companyTwitter">
        </div>
      </div>

      <h3>Firemní logo</h3>
      <img class="company-logo"
      :src="companyLogoPath"/>
      <input class="company-logo-input"
      type="file"
      accept="image/*"
      @change="onFileChange">
    </div>

    <h2>Kontakt 📞</h2>
    <div class="contact">
      <!-- <h3>Jméno Vás nebo Vašeho šéfa</h3>
      <input
      type="text"
      placeholder="Jiří Krypto"
      maxlength="30"
      v-model="contactName"> -->

      <h3>Kontaktní email</h3>
      <input
      type="email"
      placeholder="jiri@cryptominers.com"
      v-model="contactEmail">
    </div>
  </div>

  <div class="submit">
    <font-awesome-icon
    class="spinner"
    v-show="isSavingJob"
    :icon="spinnerIcon"
    spin/>
    <button class="submit-job-button"
    :class="{ 'is-disabled': !canSubmit || isSavingJob }"
    v-show="!isSavingJob"
    @click="submitButtonClicked">
      Přidat Pracovní Nabídku
    </button>
  </div>
</div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import { faCircleNotch } from '@fortawesome/fontawesome-free-solid';
import JobService from '@/mixins/JobService';

export default {
  name: 'JobSubmit',
  mixins: [JobService],
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      jobTitle: '',
      salary: '',
      location: '',
      type: '',
      description: '',
      companyName: '',
      companyWebsite: '',
      companyFacebook: '',
      companyTwitter: '',
      contactName: '',
      contactEmail: '',
      isSavingJob: false,
      errorMessage: '',
      companyLogoPath: '/static/image-dummy.png',
      companyLogoFile: null,
    };
  },
  computed: {
    spinnerIcon() {
      return faCircleNotch;
    },
    canSubmit() {
      return this.jobTitle && this.location && this.type && this.description
      && this.companyName && this.companyWebsite && this.contactEmail
      && this.companyLogoPath !== '/static/image-dummy.png';
    },
    newJob() {
      return {
        title: this.jobTitle,
        salary: this.salary,
        location: this.location,
        type: this.type,
        description: this.description,
        companyName: this.companyName,
        companyWebsite: this.companyWebsite,
        companyFacebook: this.companyFacebook,
        companyTwitter: this.companyTwitter,
        contactName: this.contactName,
        contactEmail: this.contactEmail,
      };
    },
  },
  methods: {
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }

      this.companyLogoFile = files[0];
      this.createImage(files[0]);
    },
    createImage(file) {
      const reader = new FileReader();
      const vm = this;

      reader.onload = (e) => {
        vm.companyLogoPath = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    titleClicked() {
      this.$router.push({ name: 'AppHome' });
    },
    async submitButtonClicked() {
      this.isSavingJob = true;
      try {
        await this.writeJob(this.newJob, this.companyLogoFile);
        this.$router.push({ name: 'AppHome' });
      } catch (e) {
        this.errorMessage = 'Něco se pokazilo, zkuste to prosím znovu později.';
      } finally {
        this.isSavingJob = false;
      }
    },
  },
};
</script>

<style scoped>
/* <Base style> */
input {
  padding-left: 0.6em;

  width: 100%;
  height: 2.63em;

  border: 1.4px solid #e1e1e1;
  border-radius: 4px;

  font-size: 0.9em;
  font-weight: 700;
}

input:focus, textarea:focus {
  outline: 0;
  box-shadow: none;

  border-color: #a55eea !important;
}

textarea {
  padding: 0.5em 0.6em 0;

  width: 100%;

  border: 1.4px solid #e1e1e1;
  border-radius: 4px;

  font-size: 0.9em;
  font-weight: 700;

  resize: vertical;
}
/* </Base style> */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: auto;
}

/* <Title Container> */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  cursor: pointer;

  margin: 70px 0 70px;
}

.title-container h1, h3 {
  text-align: left;
}

.title-container h1 {
  margin: 0;
  font-weight: 900;
}

.title-container h3 {
  margin-top: 0;
}
/* </Title Container> */

/* <Job Form> */
.job-form > h2 {
  text-align: left;
}

.job-form h3:not(.not-mandatory)::after {
  margin-left: 5px;
  content: '*';
  color: #db2828;
}

.job-form .basic-info, .company-info {
  text-align: left;
}

.job-form .fields {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.fields .field {
  width: 100%;
  flex: 1 1 auto;
}

.fields .salary, .fields .facebook {
  padding-right: 0.5em;
}

.fields .location, .fields .twitter {
  padding-left: 0.5em;
}

.company-logo {
  height: 300px;
  width: 300px;

  box-shadow: 0 0 0 0 rgba(34,36,38,.15);
}

.company-logo-input {
  border: none !important;
  box-shadow: none;
  outline: none;
}
/* </Job Form> */

/* <Submit> */
.submit {
  margin-top: 3em;
}

.submit .spinner {
  color: #a55eea;
  font-size: 2em;
}

.submit .submit-job-button {
  padding: 5px 12px;

  border: transparent;
  border-radius: 4px;

  cursor: pointer;

  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;

  background-color: #a55eea;

  box-shadow: 0 12px 25px rgba(0,0,0,0.04);
  transition: all .24s cubic-bezier(0,.5,.51,1);
}

.submit .submit-job-button.is-disabled {
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: .5
}

.submit .submit-job-button.is-disabled:hover {
  cursor: not-allowed;
}

.submit .submit-job-button:focus {
  outline: none;
}

.submit .submit-job-button:visited {
  color: #fff;
}

.submit .submit-job-button:not(.is-disabled):hover {
  box-shadow: 0 14px 25px rgba(0,0,0,0.08);
  transform: scale(1.04);
}
/* </Submit> */


@media screen and (max-width: 768px) {
  .job-form .fields {
    display: flex;
    flex-direction: column;
  }

  .fields .field {
    padding: 0;
  }

  input {
    padding: 0;
  }

  textarea {
    padding: 0;
  }
}
</style>
