<template>
  <div id="app">
    <div class="app-content">
      <div class="app-header">
        <a href="mailto:vasek.mlejnsky@gmail.com">
          Kontakt
        </a>
      </div>
      <router-view/>
      <div class="app-footer">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900');

html {
  height: 100% !important;
  background-color: #a55eea;
}

body {
  min-height: 100%;
  margin: 0.7em 0 0;
  background-color: rgb(242, 242, 242);
}

#app {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
}

#app .app-content {
  margin: 0 auto;
  padding: 0 10px;

  max-width: 700px;
}

.app-content .app-header {
  display: flex;
  justify-content: flex-end;

  padding-top: 20px;
}

.app-content .app-header a {
  font-weight: 700;
  color: #a55eea;
  text-decoration: none;
}

.app-content .app-footer {
  margin-top: 20px;
  height: 60px;
}

</style>
